<div class="row">
    <div class="col-md">
        <div class="mt-3">
            <p class="text-justify mt-1">
                La clasificación automática de documentos consiste en utilizar 
                técnicas de inteligencia artificial sobre un conjunto de elementos 
                para ordenarlos por clases o categorías.
                Existen múltiples métodos para la clasificación automática de documentos. 
                Uno de ellos, es el método de máquinas de vectores de soporte 
                (SVM por su siglas en inglés) , el cual proporciona algoritmos de 
                aprendizaje supervisado.
            </p>
            <p class="text-justify mt-1">
                De forma general, las  Máquinas de Vectores Soporte (creadas por Vladimir Vapnik) 
                constituyen un método basado en aprendizaje para la resolución de problemas de clasificación y regresión. 
                En ambos casos, esta resolución se basa en una primera fase de entrenamiento 
                (donde se les informa con múltiples ejemplos ya resueltos, en forma de pares {problema, solución}) 
                y una segunda fase de uso para la resolución de problemas.
            </p>
            <p class="text-justify mt-1">
                El lenguaje de programaci&oacute;n Python proporciona multiples herramientas para poder trabajar con
                maquinas de soporte vectorial y otros algoritmos. Para esta herramienta se uso concretamente las librerias
                <a href="https://scikit-learn.org/">sklearn</a>, <a href="https://pypi.org/project/pandas/">pandas</a>, 
                <a href="https://numpy.org/">numpy</a>, <a href="https://pypi.org/project/joblib/">joblib</a>,
                <a href="https://pypi.org/project/imblearn/">imlearn</a>
            </p>
            <p class="text-justify mt-1">
                El Dataset ocupado para el entrenamiento de y test del modelo se puede 
                econtrar en <a href="https://www.kaggle.com/rmisra/news-category-dataset">https://www.kaggle.com/rmisra/news-category-dataset</a>
            </p>
            <p class="text-justify mt-3">
                <span class="font-weight-bold">
                    NOTA: el dataset que se uso esta en el idioma ingl&eacute;s, por lo que el texto de las 
                    nuevas noticias a clasificar deben de estar en el idioma antes dicho.
                </span>
            </p>
        </div>
    </div>
</div>