<div class="row">
    <div class="col-md">
        <h1 class="display-4">
            Obtener datos de entrenamiento y prueba para el modelo
        </h1>
        <p class="text-justify mt-3">
            Para obtener los de X y Y de entrenamiento y prueba, se utilizo
            <a href="https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.iloc.html">iloc</a> de 
            <a href="https://pypi.org/project/pandas/">pandas</a>
            así como <a href="https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html">
                train_test_split 
            </a> de <a href="https://scikit-learn.org/">sklearn</a>
        </p>
        {% include 'snippets/train.html' %}
    </div>
</div>