<div class="row">
    <div class="col-md">
        <h1 class="displa-4">
            Entrenando el modelo
        </h1>
        <p class="text-justify mt-3">
            Una vez obtenidos los datos de test y prueba es hora de entrenar nuestro modelo.
            Sin embargo, antes de hacerlo debemos de volver a procesar nuestros datos. Se crea una 
            bolsa de palabras quitando las stropwords, tokenizando el texto y obteniendo las frecuencia de
            cada palabra (vectorizar dataset).
        </p>
        {% include 'snippets/trainModelPre.html' %}
    </div>
</div>